.DS_Store
.#*
*.sw?
bin

target
release.properties

*~

.project
.classpath
.settings
tags

/src/test/resources/logback-test.xml
/src/test/resources/apns_prod_ding1ding_cer.p12
/src/test/resources/apns_prod_ding1ding_key.p12