<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://10.30.7.44:3306/ding_test</property>
    <property name="hibernate.connection.username">saj</property>
    <property name="hibernate.connection.password">saj</property>
    <property name="hibernate.connection.CharSet">GBK</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/udt/db/DingAccountRegister.hbm.xml"/>
    <mapping resource="com/udt/db/DingAccount.hbm.xml"/>
    <mapping resource="com/udt/db/DingFeedback.hbm.xml"/>
    <mapping resource="com/udt/db/DingObserver.hbm.xml"/>
    <mapping resource="com/udt/db/DingFavorite.hbm.xml"/>
    <mapping resource="com/udt/db/DingPush.hbm.xml"/>
    <mapping resource="com/udt/db/DingDeviceBind.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
